.paginationWrapper {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.paginationBtn {
  color: var(--color-secondary);
  background-color: #fff;
  border: 0.1rem solid var(--color-secondary);
}

.paginationBtn:hover {
  color: #fff;
}

.divider {
  font-weight: 600;
  font-size: 2rem;
}
