.line {
  display: flex;
  gap: 0.5rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.lineforCheckBox {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  align-items: center;
}

.imgWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border: 0.1rem solid var(--white);
  border-radius: 0.5rem;
}
.selectWrapper {
  display: flex;
}

.invalidFeedback {
  color: var(--fourth-color);
  font-size: 1.4rem;
  text-align: center;
  min-height: 2rem;
}

.pasStrengthWrapper {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.pasStrengthTitle {
  border-radius: 0.5rem;
  background-color: var(--bg-color-third);
  padding: 0.3rem;
  color: black;
}

.pasStrengthValue {
  border-radius: 0.5rem;
  color: var(--white);
  background-color: none;
}

button {
  width: 100%;
}