.menuLink {
  padding: 1rem;
  color: var(--title-color);
  background-color: var(--secondary-color);
  border-radius: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.3s;
}

.menuLink:hover {
  scale: 1.1;
  background-color: var(--switcher-color);
}
