.informweWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 50rem;
  padding: 2rem;
  font-weight: 600;
  border-radius: 0.8rem;
  background-color: var(--color-bg-third);
  color: #fff;
  font-size: 1.7rem;
  animation: informweWrapper-appear 1s ease-out forwards;
}

.informerLIne {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@keyframes informweWrapper-appear {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.bump {
  animation: bump 300ms ease-out;
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
