:root {
  --color-bg: #ffffff;
  --color-bg-secondary: #f8f9fa;
  --color-bg-third: #818c96;
  --color-text: #333333;
  --color-primary: #007bff;
  --color-controlls: #007bff;
  --color-secondary: #6c757d;
  --color-hover: #0056b3;
  --color-error-bg: #f8d7da;
  --color-error-text: #721c24;
  --color-dark-bg: #333333;
  --color-dark-bg-secondary: #444444;
  --color-dark-text: #ffffff;
  --color-dark-primary: #ffcc00;
  --color-switcher: #ffcc00;
}

#root {
  margin: auto;
  font-size: var(--font-size-base-rem);
  background-color: var(--color-bg);
  color: var(--color-text);

  height: 100vh;
  max-width: 100vw;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html {
  font-size: 10px;
}

body {
  margin: auto;
  display: flex;
  place-items: center;
  font-size: 1.4rem;
}

input {
  padding: 0.5rem;
  border: 0.1rem solid var(--color-primary);
  border-radius: 0.4rem;
  transition: border-color 0.3s;
}

input:hover {
  border-color: var(--color-hover);
}

button {
  font-size: 1.8rem;
  padding: 1rem 1.5rem;
  background-color: var(--color-controlls);
  border: none;
  color: white;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--color-hover);
}

select {
  font-size: 1.6rem;
  padding: 0.5rem;
  border: 0.1rem solid var(--color-primary);
  border-radius: 0.4rem;
  transition: border-color 0.3s;
  background-color: var(--color-bg-secondary);
  color: var(--color-text);

  select:hover {
    border-color: var(--color-hover);
    cursor: pointer;
  }

  select:focus {
    outline: none;
    border-color: var(--color-hover);
  }
}

label {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
  color: #fff;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--color-controlls);
  border-radius: 0.4rem;
}

.errorMsg {
  border-radius: 0.4rem;
  padding: 1rem;
  margin-top: 1rem;
  background-color: var(--color-error-bg);
  color: var(--color-error-text);
  font-size: 1.6rem;
}
