.searchBarWrapper {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

.searchBarPic {
  margin: auto;
  padding-bottom: 1rem;
}

.searchBtn:disabled {
  background-color: brown;
}
